leaflet.folded box#sidebar list row {
  background-color: transparent;
}

leaflet.folded box#sidebar list row:selected image {
  color: @theme_text_color;
}

leaflet.folded box#sidebar list row:selected label {
  color: @theme_text_color;
}

box#sidebar list {
  background-color: @theme_unfocused_bg_color;
}

box#sidebar list row>box,row>entry {
  margin: 10px;
}

box#sidebar list row box label {
  color: @theme_fg_color;
}

box#sidebar list row box image {
  color: @theme_fg_color;
  margin-right: 8px;
}

box#sidebar list row button#close {
  border: 0px;
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  padding-left: 8px;
  padding-right: 8px;
}

box#sidebar list row button#close image {
  margin: 0px;
}

box#sidebar list row:selected box label {
  color: @theme_selected_fg_color;
}

box#sidebar list row:selected box image {
  color: @theme_selected_fg_color
}

box#sidebar list row#Trash {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: @borders;
}

box#view_list {
  background-color: @theme_base_color
}

box#view_list list {
  padding: 4px
}

box#view_list list row {
  border-width: 1px;
  border-style: solid;
  border-color: @borders;
  border-radius: 3px;
  margin: 4px;
}

list#taskbox:first-child {
  margin-top: 10px;
}

list#taskbox:last-child {
  margin-bottom: 10px;
}

list#taskbox row > box {
  margin: 10px;
}

list#taskbox row checkbutton {
  margin-right: 8px;
}

list#taskbox row#task label#description {
  font-weight: bold;
}

list#taskbox row#task label#attributes {
  font-size: 0.9rem;
}

box#taskdetailview {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

box#taskdetailview #description {
  font-size: 1.5rem;
  font-weight: bold;
}

box#taskdetailview .attr-label {
  color: @insensitive_fg_color;
  font-weight: bold;
}
